# Copie ce fichier en .env et remplis les valeurs
# Ne commite JAMAIS le .env avec ta vraie clé

PORT=3000

# Ta clé API PISTE (production)
JUDILIBRE_KEY=fb846321-6eaa-4ba7-903d-9ab74374c7c5

# 'production' ou 'sandbox'
JUDILIBRE_ENV=production
